<header
    class="w-full h-16 flex flex-row justify-center items-center sticky top-0 z-50 bg-sky-500"
>
    <h1 class="sm:text-2xl text-sm">
        Trabajo Final de
        <span class="font-semibold">Acceso a Datos</span>
    </h1>
</header>
